@model Film
@{
    ViewData["Title"] = "Detalji o filmu";
}
<div class="container prva-slika">
    
    <div class="zanr">
        Zanr:  ime zanra
    </div>
    <div class="PosterFilma">
        <img src="~/img/tr.jpg" class="movie-img">

    </div>
    <div class="col-md-6 left-box">

    </div>

</div>
<div class="container movie-details">

   
    <div class="dugmad">
        <div class="col-md-6 left-box">



            <a href="https://www.youtube.com/watch?v=8ndhidEmUbI&ab_channel=WarnerBros.Pictures"><i class="fa fa-play" aria-hidden="true"></i>   Gledaj trailer </a>
            <a href="#" class=" kupovina"><i class="fa fa-ticket" aria-hidden="true"></i>   Kupi kartu </a>

        </div>
        <div class="duzinaTrajanja"><i class="far fa-clock" aria-hidden="true"></i> 100min</div>
        <div class="GodinaIzlaska"><i class="fa fa-calendar" aria-hidden="true"> </i> 2021 </div>
    </div>



    <div class="opisfilma" style="text-align:right">
        <h1>Tomb Reider</h1>
      <p>  Ovde treba da dodje neki opis filma</p>

    </div>
</div>
