@model List<Film>
@{
    ViewData["Title"] = "Filmovi";
}

<h1 id="heading">Cinaplexx</h1>

<div class="slide hi-slide">
    <div class="hi-prev"></div>
    <div class="hi-next"></div>
    <ul>
        <li> <img src="~/img/ji.jpg" alt=""></li>
        <li> <img src="~/img/vikend.jpg" alt=""></li>
        <li> <img src="~/img/dnk.jpg" alt=""></li>
        <li> <img src="~/img/kg.jpg" alt=""></li>
        <li> <img src="~/img/ww.jpg" alt=""></li>
        <li> <img src="~/img/tr.jpg" alt=""></li>
        <li> <img src="~/img/joker.jpg" alt=""></li>
    </ul>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="js/jquery.hislide.js"></script>-
<script>
    $('.slide').hiSlide();
</script>